body {
    background-color: dodgerblue;
    li: none;
}

.item {
    text-align: center;
    border: solid 1px aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.item_img {
    border: solid 1px black;
    display: block;
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}