<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A site where you can see what you've bought over the years in League of Legends">
    <meta name="author" content="Matthew Mettler">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Somethign went wrong! :(</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="{{ url_for('static', filename='not_found.png') }}" style="border-radius: 5px" alt=""/>
            <p><b>{{ error_code }}</b></p>
            <p>Sorry, something went wrong! Here's what happened:</p>
            <p> {{ error }}</p>
            <p>If you want to help out, please <a href="mailto:matthewrmettler@gmail.com?Subject=How%20Many%20Dorans:%20Error%20{{ error_code }}" target="_top" style="color: #E69EE8">let me know what went wrong</a> and I'll do my best to fix it and get back to you!</p>
             <button class="btn" onclick="goBack()">Go Back</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>